{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img src="{{ article.image | image_url:"medium" }}" alt="{{ article.image.alt }}">
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}
